.DS_Store
*.mode1v3
*.mode2v3
*.pbxuser
*.xcuserstate
*.perspectivev3
project.xcworkspace/
xcuserdata/
*~.nib
.cache/
.clangd
.claude/*
.codex/*
.xcodebuildmcp/*
buildServer.json
compile_commands.json
Build PocketSword_*.txt
